body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* Solution */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  font-size: 24px;
  font-weight: 1000;
  letter-spacing: 2px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1; 
  gap: 16px;
  height: calc(100vh - 144px);
}

.right-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5%;
  width: 60%;
  margin-right: 10%;
}

.sidebar {
  width: 300px;
  height: calc(100vh - 72px);
}

.card {
  width: 20%;
  padding: 16px;
  flex-grow: 4;
  flex-basis: 200px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

li {
  list-style: none;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}